body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
/* -------------section-1 ---------------*/
section_1 {
  display: flex;
  width: 90%;
  margin: 60px 60px 0px 90px;
}
.main h1 {
  font-family: "Yeseva One", cursive;
  font-size: 50px;
  padding-left: 10px;
  border-left: 5px solid #ec5863;
}
h1 span {
  color: orange;
}
p {
  font-family: "DM Sans", sans-serif;
  line-height: 22px;
  margin-bottom: 40px;
}

.main {
  width: 50%;
  padding-left: 10px;
}
.main img {
  margin-top: 30px;
  margin-left: 50px;
  width: 90%;
}
.main a {
  text-decoration: none;
  background-color: #ec5863;
  color: white;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  padding: 10px 30px;
}
/* ----------------section-2--------------- */
section_2 h1 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
section_2 h1 span {
  color: orange;
}

.container {
  display: flex;
  width: 90%;
  font-family: "DM Sans", sans-serif;
}
.container img {
  width: 35%;
}

.mission {
  margin-left: 90px;
  text-align: left;
  width: 25%;
  font-family: "DM Sans", sans-serif;
  margin-right: 70px;
  padding: 20px;
  border-radius: 10px;
  background-color: #edf5f6;
}

.Vission {
  text-align: left;
  width: 25%;
  margin-right: 70px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(248, 215, 211);
}
.Goals {
  text-align: left;
  width: 25%;
  margin-right: 70px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(243, 222, 151);
}
/* ---------------section-3 ---------------*/
section_3 {
  font-family: "DM Sans", sans-serif;
  margin-top: 100px;
  display: flex;
  width: 100%;
}

.content img {
  width: 60%;
  margin-left: 100px;
}
.content h1 {
  line-height: 45px;
  margin: 30px 15px 0 -100px;
  width: 100%;
}
.content p {
  margin: 45px 60px 50px -100px;
}

section_3 a {
  margin-left: -100px;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  background-color: #ec5863;
  border-radius: 5px;
}
/* ----------------section-4---------------- */
section_4 {
  font-family: "DM Sans", sans-serif;
  margin: 60px 50px 60px 90px;
  display: flex;
  width: 90%;
}
section_4 .community {
  margin-top: 10px;
}
.community h1 {
  margin-top: 80px;
}
.community img {
  width: 60%;
  margin-left: 200px;
}
.community p {
  width: 100%;
  margin-bottom: 50px;
}

section_4 .community a {
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  background-color: #ec5863;
  border-radius: 5px;
}
/* -----------------section-5 ----------------*/
section_5 h1 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
section_5 h1 span {
  color: orangered;
}
.container {
  font-family: "DM Sans", sans-serif;
  margin: 0px 60px 50px 100px;
  display: flex;
  text-align: center;
}
.parson_1 {
  width: 300px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #52575d;
}
.parson_1 img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.parson_1 h2 {
  text-align: left;
  padding-left: 25px;
}
.parson_1 p {
  padding: 15px;
  text-align: justify;
}
.parson_1 a {
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  background-color: #ec5863;
  border-radius: 5px;
}

.parson_2 {
  width: 300px;
  height: 500px;
  margin-left: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #52575d;
}
.parson_2 img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.parson_2 h2 {
  text-align: left;
  padding-left: 25px;
}
.parson_2 p {
  padding: 15px;
  text-align: justify;
}
.parson_2 a {
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  background-color: #ec5863;
  border-radius: 5px;
}
.parson_3 {
  width: 300px;
  height: 500px;
  margin-left: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #52575d;
}
.parson_3 img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.parson_3 h2 {
  text-align: left;
  padding-left: 25px;
}
.parson_3 p {
  padding: 15px;
  text-align: justify;
}
.parson_3 a {
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  background-color: #ec5863;
  border-radius: 5px;
}
/* ----------------section-6 ------------------*/
section_6 {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: black;
  color: #fafafa;
  text-align: center;
}
.footer h2 {
  font-family: "Galada", cursive;
  padding-top: 10px;
}

.footer span {
  color: red;
}
.small-footer {
  font-family: "DM Sans", sans-serif;
  padding-bottom: 10px;
  color: #52575d;
}
